/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
  line-height: 1.5;
  font-size: 1.2em;
}

/* STYLES */
/* Write your CSS below */

.container {
  padding: 5vw 10vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 2em;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  gap: 1em;
  width: 100%;
}

.hero-image {
  height: 500px;
  color: white;
  font-size: 2em;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/apple-pie.jpg);
}

.section-title {
  opacity: 75%;
  font-weight: bold;
}

.info-img {
  max-width: 400px;
  background-size: cover;
  align-self: center;
}

hr {
  color: black;
  width: 100%;
}

ol {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 0 2.5vw;
  list-style-type: none;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  list-style-type: none;
  align-self: center;
  width: 100%;
}

ul > li::before {
  content: "-";
  margin-right: 0.5em;
}

ol > li {
  counter-increment: listcounter;
}

ol > li::before {
  content: counter(listcounter) ")";
  margin-right: 0.5em;
}
